html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.row {
  border-radius: 50px;
  height: 14%; /* height and top work together to position along the y-axis */
  width: 10%;
  position: fixed;
  right: 50%; /* right and margin-right work together to position along the x-axis */
  margin-right: -5%;
}

/* animation: [animation-name] [animation-duration] [animation-timing-function] [animation-delay] [animation-iteration-count] [animation-direction] [animation-fill-mode]; */

#inst1 {
  top: 3%;
  animation: width      300s linear -10s infinite,
             x-position 300s linear -20s infinite,
             opacity    300s linear -30s infinite,
             color      300s linear -40s infinite;
  /*animation-play-state: intentionally not defined*/
}
#inst2 {
  top: 23%;
  animation: width      300s linear -100s infinite,
             x-position 300s linear -110s infinite,
             opacity    300s linear -120s infinite,
             color      300s linear -130s infinite;
  /*animation-play-state: intentionally not defined*/
}
#inst3 {
  top: 43%;
  animation: width      300s linear -50s infinite,
             x-position 300s linear -60s infinite,
             opacity    300s linear -70s infinite,
             color      300s linear -80s infinite;
  /*animation-play-state: intentionally not defined*/
}
#inst4 {
  top: 63%;
  animation: width      300s linear -150s infinite,
             x-position 300s linear -160s infinite,
             opacity    300s linear -170s infinite,
             color      300s linear -180s infinite;
  /*animation-play-state: intentionally not defined*/
}
#inst5 {
  top: 83%;
  animation: width      300s linear -210s infinite,
             x-position 300s linear -220s infinite,
             opacity    300s linear -230s infinite,
             color      300s linear -240s infinite;
  /*animation-play-state: intentionally not defined*/
}

@keyframes start {
  /* fade the entire screen in together */
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes end {
  /* fade the entire screen out together */
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes color {
  0%   { background-color: red; }
  10%  { background-color: red; }
  20%  { background-color: red; }

  21%  { background-color: blue; }
  30%  { background-color: blue; }
  40%  { background-color: blue; }
  50%  { background-color: blue; }
  60%  { background-color: blue; }

  61%  { background-color: yellow; }
  70%  { background-color: yellow; }
  80%  { background-color: yellow; }
  90%  { background-color: yellow; }

  91%  { background-color: red; }
  100% { background-color: red; }
}
@keyframes x-position {
  0%   { right: 50%; }
  10%  { right: 5%; }
  20%  { right: 20%; }
  30%  { right: 70%; }
  40%  { right: 0%; }
  50%  { right: 10%; }
  60%  { right: 90%; }
  70%  { right: 50%; }
  80%  { right: 10%; }
  90%  { right: 80%; }
  100% { right: 50%; }
}
@keyframes width  {
  0%   { width: 50%; margin-right: -25%; }
  10%  { width: 5%;  margin-right: -2%;  }
  20%  { width: 20%; margin-right: -10%; }
  30%  { width: 70%; margin-right: -35%; }
  40%  { width: 5%;  margin-right: -2%;  }
  50%  { width: 10%; margin-right: -5%;  }
  60%  { width: 90%; margin-right: -45%; }
  70%  { width: 50%; margin-right: -25%; }
  80%  { width: 10%; margin-right: -5%;  }
  90%  { width: 80%; margin-right: -40%; }
  100% { width: 50%; margin-right: -25%; }
}
@keyframes opacity {
  0%   { opacity: 1; }
  5%   { opacity: 1; }
  
  10%  { opacity: .3; }
  15%  { opacity: .3; }
  
  20%  { opacity: 1; }
  25%  { opacity: 1; }

  30%  { opacity: 0; }
  35%  { opacity: 0; }

  40%  { opacity: .3; }
  45%  { opacity: .3; }

  50%  { opacity: 0; }
  55%  { opacity: 0; }

  60%  { opacity: .3; }
  65%  { opacity: .3; }

  70%  { opacity: 1; }
  75%  { opacity: 1; }

  80%  { opacity: .3; }
  85%  { opacity: .3; }

  90%  { opacity: 0; }
  95%  { opacity: 0; }

  100% { opacity: 1; }
}